[Unit]
Description=loopback alias
Wants=network.target
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ip addr add 172.16.123.1/12 dev lo label lo:1i
ExecStop=/sbin/ip addr del 172.16.123.1/12 dev lo

[Install]
WantedBy=multi-user.target
